*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
!releases/*.apk
keystore/*.keystore
!keystore/express-release.keystore
*.ap_
*.aab
output.json
app/build/
.gradle/
local.properties
